@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
.w-80{
    width: 80%;
    margin: auto;
}
.signup{
    font-family: 'Krona One', sans-serif; 
    font-size:40px
}
video{
    border-radius: 10px;
    width: 80%;
    box-shadow:10px 10px 5px rgba(0, 0, 0, 0.205)
}
.r{
    text-align:right
}

@media only screen and (max-width: 1000px){
    .r{
        display:none;
    }
    
}